PORT = Your_port
NODE_ENV = development
DATABASE_URL = your_URI

PGHOST=your_host
PGPORT=your_port
PGUSER=username
PGPASSWORD=password
PGDATABASE=database_name


JWT_ACCESS_SECRET=Secret
JWT_ACCESS_EXPIRES_IN=Time
JWT_REFRESH_SECRET=Secret
JWT_REFRESH_EXPIRES_IN=time

SMTP_HOST= host
SMTP_PORT= port
SMTP_USER= SMTP username
SMTP_PASS= SMTP password
SMTP_FROM_NAME= SMTP name
SMTP_FROM_EMAIL= SMTP email

CLIENT_URL= Your URL
FRONTEND_URL=http://localhost:5173


OMDB_API_KEY=your_key
OMDB_BASE_URL=https://www.omdbapi.com